<div class="container contact-form">
    <div class="content">

        <!-- Navbar section -->
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom"> <a
                class="navbar-brand ml-2 font-weight-bold" href="#"><span id="burgundy">The</span><span
                    id="orange">Libary</span></a> <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarColor">
                <ul class="navbar-nav">
                    <li class="nav-item rounded bg-light search-nav-item"><input type="text" id="search"
                            class="bg-light" placeholder="Search book, novel,comic"><span
                            class="fa fa-search text-muted"></span></li>
                    <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user-o"></span><span
                                class="text">Login</span></a> </li>
                    <li class="nav-item "><a class="nav-link" href="#"><span class="fa fa-shopping-cart"></span><span
                                class="text">Cart</span></a> </li>
                </ul>
            </div>
        </nav>
        <div class="filter"> <button class="btn btn-default" type="button" data-toggle="collapse"
                data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filters<span
                    class="fa fa-filter pl-1"></span></button>
        </div>
        <div id="mobile-filter">
            <p class="pl-sm-0 pl-2"> Home | <b>All Books</b></p>
            <div class="border-bottom pb-2 ml-2">
                <h4 id="burgundy">Filters</h4>
            </div>
            <div class="py-2 border-bottom ml-3">
                <h6 class="font-weight-bold">Categories</h6>
                <div id="orange"><span class="fa fa-minus"></span></div>
                <form>
                    <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Sách tham khảo
                        </label> </div>
                    <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Sách giáo
                            khoa

                        </label> </div>
                    <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Healthy
                            Breads</label>
                    </div>
                </form>
            </div>
            <div class="py-2 border-bottom ml-3">
                <h6 class="font-weight-bold">Accompainments</h6>
                <div id="orange"><span class="fa fa-minus"></span></div>
                <form>
                    <div class="form-group"> <input type="checkbox" id="book"> <label for="book">Math Books</label>
                    </div>
                    <div class="form-group"> <input type="checkbox" id="comic"> <label for="comic">Doraemon</label>
                    </div>
                    <div class="form-group"> <input type="checkbox" id="book"> <label for="book">Literature
                            books</label> </div>
                    <div class="form-group"> <input type="checkbox" id="book"> <label for="book">
                            English book</label> </div>
                    <div class="form-group"> <input type="checkbox" id="comic"> <label for="comic">One piece</label>
                    </div>
                </form>
            </div>
            <div class="py-2 ml-3">
                <h6 class="font-weight-bold">Top Offers</h6>
                <div id="orange"><span class="fa fa-minus"></span></div>
                <form>
                    <div class="form-group"> <input type="checkbox" id="25off"> <label for="25">25% off</label> </div>
                    <div class="form-group"> <input type="checkbox" id="5off"> <label for="5off" id="off">5% off on
                            artisan
                            breads</label> </div>
                </form>
            </div>
        </div>
        <!-- Sidebar filter section -->
        <section id="sidebar">
            <p> Home | <b>All Books</b></p>
            <div class="border-bottom pb-2 ml-2">
                <h4 id="burgundy">Filters</h4>
            </div>
            <div class="py-2 border-bottom ml-3">
                <h6 class="font-weight-bold">Categories</h6>
                <div id="orange"><span class="fa fa-minus"></span></div>
                <form>
                    <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Reference books

                        </label> </div>
                    <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">
                            Text Books
                        </label> </div>
                    <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Comics</label>

                        <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Novel</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="py-2 border-bottom ml-3">
                <h6 class="font-weight-bold">Accompainments</h6>
                <div id="orange"><span class="fa fa-minus"></span></div>
                <form>
                    <div class="form-group"> <input type="checkbox" id="book"> <label for="book">Math Books</label>
                    </div>
                    <div class="form-group"> <input type="checkbox" id="comic"> <label for="comic">Doraemon</label>
                    </div>
                    <div class="form-group"> <input type="checkbox" id="book"> <label for="book">Literature
                            Books</label> </div>
                    <div class="form-group"> <input type="checkbox" id="book"> <label for="book">English Books </label>
                    </div>
                    <div class="form-group"> <input type="checkbox" id="comic"> <label for="comic">One piece</label>
                    </div>
                </form>
            </div>
            <div class="py-2 ml-3">
                <h6 class="font-weight-bold">Top Offers</h6>
                <div id="orange"><span class="fa fa-minus"></span></div>
                <form>
                    <div class="form-group"> <input type="checkbox" id="15off"> <label for="15">15% off</label> </div>
                    <div class="form-group"> <input type="checkbox" id="5off"> <label for="5off" id="off">5% off
                        </label>
                    </div>
                    <div class="form-group"> <input type="checkbox" id="30off"> <label for="30">30% off</label> </div>
                </form>
            </div>
        </section>
        <!-- products section -->
        <section id="products">
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="text-muted m-2" id="res">Showing 44 results</div>
                    <div class="ml-auto mr-lg-4">
                        <div id="sorting" class="border rounded p-1 m-1"> <span class="text-muted">Sort by</span>
                            <select name="sort" id="sort">
                                <option value="popularity"><b>Popularity</b></option>
                                <option value="prcie"><b>Price</b></option>
                                <option value="rating"><b>Rating</b></option>
                            </select> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                        <div class="card"> <img class="card-img-top"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4UrM4Ql46g6qV_qphuYiwMJVZ_1nUttknzA&s">
                            <div class="card-body">
                                <h5><b>Math 4 </b> </h5>
                                <div class="d-flex flex-row my-2">
                                    <div class="text-muted">11$/loaf</div>
                                    <div class="ml-auto"> <button class="border rounded bg-white sign"><span
                                                class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1
                                            loaf</span> <button class="border rounded bg-white sign"><span
                                                class="fa fa-minus" id="orange"></span></button> </div>
                                </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                        <div class="card"> <img class="card-img-top"
                                src="https://sachtienganh365.com/wp-content/uploads/2022/12/z3982679297002_dba76bfbd729f83103a5790fdf098426-scaled.jpg">
                            <div class="card-body">
                                <h5><b>Doraemon</b> </h5>
                                <div class="d-flex flex-row my-2">
                                    <div class="text-muted">35$/piece</div>
                                    <div class="ml-auto"> <button class="border rounded bg-white sign"><span
                                                class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1
                                            pc</span> <button class="border rounded bg-white sign"><span
                                                class="fa fa-minus" id="orange"></span></button> </div>
                                </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                        <div class="card"> <img class="card-img-top"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTlcbLrOPqDrIigZdA_vScAmm-v6f9oUyyzA&s">
                            <div class="card-body">
                                <h5><b>One Piece</b> </h5>
                                <div class="d-flex flex-row my-2">
                                    <div class="text-muted">25$/loaf</div>
                                    <div class="ml-auto"> <button class="border rounded bg-white sign"><span
                                                class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1
                                            loaf</span> <button class="border rounded bg-white sign"><span
                                                class="fa fa-minus" id="orange"></span></button> </div>
                                </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                        <div class="card"> <img class="card-img-top"
                                src="https://sieuthisachtienganh.com/wp-content/uploads/2019/06/60530596_2240880409314725_1088927711667159040_n-1-1.jpg">
                            <div class="card-body">
                                <h5><b>English book</b> </h5>
                                <div class="d-flex flex-row my-2">
                                    <div class="text-muted">50$/piece</div>
                                    <div class="ml-auto"> <button class="border rounded bg-white sign"><span
                                                class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1
                                            pc</span> <button class="border rounded bg-white sign"><span
                                                class="fa fa-minus" id="orange"></span></button> </div>
                                </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                        <div class="card"> <img class="card-img-top"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu8mmV6K86x2y2j3n_t-6lke9wucly1X9YdA&s">
                            <div class="card-body">
                                <h5><b>Mavel Commic</b> </h5>
                                <div class="d-flex flex-row my-2">
                                    <div class="text-muted">23$/piece</div>
                                    <div class="ml-auto"> <button class="border rounded bg-white sign"><span
                                                class="fa fa-plus" id="orange"></span></button> <span class="px-sm-1">1
                                            pc</span> <button class="border rounded bg-white sign"><span
                                                class="fa fa-minus" id="orange"></span></button> </div>
                                </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                        <div class="card d-relative"> <img class="card-img-top"
                                src="https://hieusach24h.com/wp-content/uploads/2021/09/Ngu-Van-12-Tap-1.jpg">
                            <div class="card-body">
                                <h5><b> Literature Books</b> </h5>
                                <div class="rounded bg-white discount" id="orange">10% off</div>
                                <div class="d-flex flex-row my-2">
                                    <div class="text-muted price"><del>30$</del>23$/piece</div>
                                    <div class="ml-auto"> <button class="border rounded bg-white sign"><span
                                                class="fa fa-plus" id="orange"></span></button> <span>1pc</span> <button
                                            class="border rounded bg-white sign"><span class="fa fa-minus"
                                                id="orange"></span></button> </div>
                                </div> <button class="btn w-100 rounded my-2">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>